body{
    background-image: url('logo-transparent1-png.png');
    background-size: 50%; /* Καλύπτει το σύνολο της σελίδας */
    background-repeat: no-repeat; /* Αποτρέπει την επανάληψη της φωτογραφίας */
    background-color: rgb(207, 230, 235);
    }
        /* Κεντράρουμε το κουτί με τον κώδικο */
        .centered {
            margin-top: 50vh; /*μετακινει τον κωδικο αυτοκινητου*/
            
        }
       
        .container {
            width: 500px;
            padding: 30px;
            background: #f4f7f8;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            position: absolute;
            top: 50%;
            right: 10%; /* Μετακίνηση προς τα δεξιά */
            transform: translate(0, -50%); /* Κεντράρισμα κατά κατακόρυφο */
    }
        .form-group {
            margin-bottom: 20px;
        }
        
        .form-group label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }
        
        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
        }
        
        .form-group button {
            background: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .form-group button:hover {
            background: #3779ba;
        }
        
        .form-group p {
            margin-top: 0px;
        }
        
        .form-switch {
            text-align: center;
        }
        
        .form-switch a {
            color: #007BFF;
            text-decoration: none;
        }
        
        .form-switch a:hover {
            text-decoration: underline;
        }
        input{
            color: rgb(9, 37, 139); /* Χρώμα κειμένου */
            background-color: #0f8fac; /* Χρώμα φόντου */
            font-family: Arial, sans-serif;
            font-size: 16px;
            padding: 10px; /* Εσωτερικό ανάκλεισμα 10px */
            border: 2px solid #ccc; /* Περίγραμμα 2px με γκρι χρώμα */
            border: 2px solid blue; /* Περίγραμμα γίνεται μπλε όταν το πεδίο έχει focus */
            background-color: #fff; /* Αλλάζει το φόντο σε λευκό όταν το πεδίο έχει focus */
            border: 2px solid green; /* Περίγραμμα πράσινου χρώματος για τα πεδία εισόδου τύπου κωδικού πρόσβασης */
            background-color: #f9f9f9;
            border: 2px solid #999;
            border-radius: 10px; /* Στρογγυλεμένα άκρα */
            border: 2px solid #fd0b0b;
            padding: 10px;
            transition: border 0.3s; /* ομαλή μετάβαση στην αλλαγή του περιγράμματος */
            hover {
            border: 2px solid #ff6600; /* Περίγραμμα πορτοκαλί όταν περνάτε το ποντίκι πάνω από το πεδίο */

        }
            margin-left: 12px;

    }

   